*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap  {
    width: 100%;
    height: auto;
    max-width: 1280px;
    margin: auto
}
header {
    width: 100%;
    height: auto;
    padding: 0 20px ;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid skyblue;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}
nav,section,aside {
    border:  1px solid skyblue;
    text-align: center;
    padding: 100px 5px 5px 5px;
    font-size: 20px;
    font-weight: bold;

}

main {
    width: 100%;
    height: auto;
    display: flex;
    margin: 5px 0;
    gap: 5px; /*section 에 마진을 준 것과 같음*/
    font-size: 20px;
    font-weight: bold;
   
}
nav { 
    width: 20%;
}
section { 
    width: 60%;
    /* margin: 0 5px; */
}
aside{ 
    width: 20%;
}

article {
    width: 100%;
    height: auto;
    padding: 30px 0;
    border: 1px solid skyblue;
}

article:nth-child(2) {
    margin-bottom: 5px;
}

footer {
    width: 100%;
    height: auto;
    padding: 30px 0;
    border: 1px solid skyblue;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*Navigation Style*/

.navi {
    display: flex;
    list-style: none;
    /* gap: 10px; */
}

.navi a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    padding: 25px 30px;
    display: block;
    transition: all 0.4s;
}

.navi li.active a{
    color: #fff;
    background: skyblue;
}

.navi li:hover a {
    color: #fff;
    background: skyblue;
}

/*.navi li.active a, .navi li:hover a{
    color: #fff;
    background: skyblue;
}*/