* {
    padding: 0;
    margin: 0;
}

div.container {
    max-width: 1024px;
    border: 1px solid;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #BBDEFB;
}

.container > div {
    width: 33.33%;
    height: 250px;
    border: 1px solid #0D47A1;
    margin: 10px 0;
    _padding: .5rem;
    background: #90CAF9;
}


.container > div > img {
    width: 90%;
    height: 150px;
    border: 1px solid #0D47A1;
    margin: 1rem;
    object-fit: cover;
}

.container > div > p {
    width: 90%;
    height: 50px;
    border: 1px solid;
    margin: 0 1rem ;
    background: #0D47A1;
    text-align: center;
    line-height: 3;
}

@media screen and (max-width:500px){
    div >  img {
        width: 100%;
    }
}