/* cascade style sheet */
/* 1. 외부보다는 내부, 내부보다는 인라인이 우선
2. 먼저 작성된 것 보다는 후에 작성된 것이 우선 적용 */

/* selector{property: propety-value;} */

/******************** selector *********************/
/*1. 태그 선택자 : 태그 이름을 그대로 사용한다.*/
h2 {color: red;}
/* 아이디, 클래스 선택자: 아이디는 #, 클래스는 .으로 연결한다. */
#abc {color: yellow;}
.cde {color: blue;}
/* 3. 전체 선책자 : 전체 엘리먼트 선택하며 *로 표시한다. */
/* 4. 자식 선택자 : 편집하고자 하는 요소의 부모로부터 > 표시를 사용한 하위 요소 */
/* p > a {text-decoration: none; color: black;} */
/* 5. 후손 선택자 : 편집하고자 하는 요소의 상위 부모로부터 공백을 사용한 하위요소 */
/* 후손 선택자는 자식을 포함한 후손을 선택한다. */
ul.navi > li > a {color: red;}
/* ul.navi > li > ul > li > a {color: green;} */
ul li a {color: green;}

/* 6. 그룹선택자 : 속성과 값이 같은 요소를 공통 요소로 선택 */
h2, p, ul {border: 1px solid;}

/* 7. 형제 선택자 */
/* +기호는 기준 요소 다음 형제 요소 선택
~기호는 기준 요소 다음 형제 요소 전체 선책 */
.para + p {color: red;} /*형제중 다음 형제만*/
.para ~ p {color: green;} /*형제중 다음 형제 전체*/

/* 8. 가상선택자 (nth) */
div li:nth-child(1) {color: red;} /*여러개의 나열되어 있는 li 중에서 첫 번째 거*/ /* (=div li:first-child) */
div li:last-child {color: aqua;}
/* first-child와 last-child 밖에 없음 */

/* 9. 의제선택자 */
/* before, after를 사용할 때 content 속성의 값은 필수이다. 빈 공간을 나타내고 싶다면 ''를 사용한다. */
h1::before{content: '[';}
h1::after{content: ']';}