/* 
- transform (변환)은 요소에 특정 변형 효과를 지정한다. 일반적으로 2d 변형은 4가지가 쓰인다. 변환 속성은 주변 요소에 영향을 주지 않는다.
1. translate : 요소의 위치를 이동 시킨다. x, y 좌표를 각각 지정할 수 있고, 좌표 없이 (x px, y px) 방식으로 함께 지정할 수도 있다.  
2. scale  : 요소의 크기를 변화 시킨다. x, y 좌표를 각각 지정할 수 있고, 좌표 없이 (x px, y px) 방식으로 함께 지정할 수도 있다. 
3. skew : 요소의 특정 각도를 비튼다. x, y 좌표를 각각 지정할 수 있고, 좌표 없이 (x deg, y deg) 방식으로 함께 지정할 수도 있다. 
skew X는 X축을 과정 시키고 세로를 비틀고, skew Y는 y축을 고정시키고 가로를 비튼다고 이해하면 된다.
4. rotate ; 요소를 특정 각도로 돌린다. 
x,y 축을 지정하면 해당 축을 기준으로 돌리게 되고, 둘 모두를 축약으로 지정하게 되면 중앙축이 적용되어 돌린다.
*/

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.outer {
    width: 200px;
    height: 200px;
    border: 1px solid;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.inner {
    width: 100px;
    height: 100px;
    _margin: 50px auto;
    background: yellow;
}

div.outer1 > div.inner {
    transform: translate(50px, 50px);
}

div.outer2 > div.inner {
    _transform: scaleX(1.5);
    _transform: scaleY(2);
    _transform: scale(1.2);
    _transition-duration: 0.4s;
    transition: all 0.4s ease; /*대상이 하나가 아닐 수도 있어서 여기에 적어줌*/
}
div.outer2:hover > div.inner
/* outer2에 마우스를 대면 자식이 바뀌는 것 */
{
    transform: scale(1.2);
}

div.outer3 > div.inner {
    _transform: skewX(40deg);
    _transform: skewY(30deg);
    transform: skew(40deg, 30deg); 
    /* 예측하기 어렵기 때문에 보통 나누어서 쓴다 */
}

div.outer4 > div.inner {
    _transform: rotateX(40deg);
    _transform: rotateY(50deg);
    transform: rotate(40deg);

}